    @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500;600&family=Lexend+Deca&display=swap');

    body{
        margin: 0;
        font-family: 'Lexend Deca', sans-serif;
        
    }



    .card-container {
    display: flex;
    padding: 146px 279px;
    height: 455px;
    border-radius: 10px;
    }
    @media (max-width: 400px) {
        .card-container {
            padding: 55px 26px;
            flex-wrap: wrap;
            height: auto;
        }
        .card-1 {
            height: 454px;
            border-radius: 0;
        }
        .card-2 {
            height: 454px;
        }
        .card-3 {
            height: 454px;
        }
    }
    @media (max-width: 400px) {
        .card-1 {
            border-radius: 10px 10px 0 0;
        }
    }
    .icons {
        height: 95px;
        padding: 0px 33px 0 21px;
        display: flex;
        align-items: flex-end;
    }
    .icons img {
        height: 45%;
    }

    .fa-circle {
        font-size: 2.6rem;
        opacity: 0.28;
        transform: translateX(20px);
    }

    .card-1 {
        background-color: hsl(31, 77%, 52%);
        border-radius: 10px 0 0 10px;

        
    }

    .card-2 {
        background-color: hsl(184, 100%, 22%) ;
    }

    .card-3 {
        background-color: hsl(179, 100%, 13%)
        ;
        border-radius: 0 10px 10px 0;
    }

    .info h1{
        color: white;
        text-transform: uppercase;
        font-family: 'Big Shoulders Display';
        padding: 0 40px;
        font-size: 40px;

    }

    .info p{
        padding: 10px 35px;
        font-size: 14px;
        color: hsl(31, 77%, 83%);
        line-height: 1.7;
    }

    #suv{
        color: hsl(184, 100%, 90%);
    }

    #lux {
        color:  hsl(179, 100%, 38%);
    }

    .btn {
        padding: 39px 58px 0px 58px;
    }
    
    .btn button{
        padding: 12px 24px;
        border-radius: 41px;
        border: none;
        font-family: 'Lexend Deca', sans-serif;
        cursor: pointer;
    }

    .btn button:hover {
        background-color: #ffffff;
        color: black;
        transition: 0.2s ease-in;
    }

    .card-1 button {
        color: hsl(31, 77%, 55%);
       
    }

    .card-2 button {
        color: hsl(184, 100%, 22%);
    }

    .card-3 button {
        color: hsl(179, 100%, 13%);
        
    }
    
